{% include tophead.html %}

<body class="landing">
<!--[if lt IE 10]>
  <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

  <nav class="landing">
    <ul>
      <li><a class="landing" href="about">About</a></li>
      <li><a class="landing" href="#">Projects</a></li>
      <li><a class="landing" href="#">Blog</a></li>
      <li><a class="landing" href="#">Contact</a></li>
    </ul>
  </nav>

  {{ content }}

{% include bottomhead.html %}
