body
    // background: #c01b17//#053640
    box-sizing: border-box
    moz-box-sizing: border-box
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
    color: #EFEFEF
    font-size: 16px
    background-color: #c01b17
    // background-image: linear-gradient(#c01b17, #3889C0)
    // background-image: linear-gradient(#c01b17, #CDCBC3)
    background-image: linear-gradient(#053640, #3889C0)
    background-repeat: no-repeat
    background-attachment: fixed


    .browsehappy
        margin: 0.2em 0
        background: #ccc
        color: #000
        padding: 0.2em 0

    .hero-unit
        margin: 0 auto
        width: 100%
        padding: 3.75em 1em //60px 16px
        h1
            font-family: "kulturista-web"
            font-weight: 100
            font-size: 5em //80px
            line-height: 1
            color: #DDD
