@import "compass/reset"

body
    box-sizing: border-box
    moz-box-sizing: border-box
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
    color: #EFEFEF
    font-size: 16px //1em
    background-color: #c01b17
    background-image: linear-gradient(#c01b17, #3889C0)
    background-repeat: no-repeat
    background-attachment: fixed
    // background-image: linear-gradient(#c01b17, #CDCBC3)
    // background-image: linear-gradient(#053640, #3889C0)

    .browsehappy
        margin: 0.2em 0
        background: #ccc
        color: #000
        padding: 0.2em 0

    .hero-unit
        margin: 8em 0 0 1em
        article
            font-family: "kulturista-web"
            font-weight: 100
            width: 100%
            font-size: 0px // To hide text before
            line-height: 2em //32px
            color: #DDD
            a
                text-decoration: none
                color: inherit
                border-bottom: 1px dotted white
                transition: border-bottom 0.3s ease-in
                &:hover
                    border-bottom: 1px dotted transparent
